body {
    margin: 0px;
    padding: 0px;
    background: url('../img\ 1.jpg');
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.left {
    position: absolute;
    top: 20px;
    left: 60px;
    display: inline-block;
    text-align: center;

}

.mid {
    border: 2px solid black;
    background-color: #242c4e;
    display: block;
    width: 38%;
    margin: 20px auto;
    color: white;
    background-color: #242c4e;
    border-radius: 40px;
    border-color: black;

}

.left img {
    width: 53px;
    height: 50px;
    filter: invert(50%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
}

.logo {
    padding: auto;
}

.right {
    position: absolute;
    top: 20px;
    right: 5px;
    display: inline-block;
}

 .search {
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 18px;
    width: 163px;

} 

.button {
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;

}

.button:hover {
    text-decoration: underline;
}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
    color: black;
    background-color: grey;
    text-decoration: underline;
    font-weight: bolder;
}

.container {
    text-align: center;
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
    background-color: black;
    color: white;
}

.form input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}